{{#if data_frm_add}}
    <div class="row bg-secundary">
        <div class="col-md-12 mx-auto">
            <div class="card text-center">
                <div class="card header bg-success">
                    <h3></h3>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                         <input type="hidden" name="form_type" value="frm_add">
                        {{#each data_frm_add}}

                        <div class="form-floating mb-3">
                            <input {{{frm_isDisable 'frm_add' this.name}}} value="{{this.value}}"  type="{{frm_type_txt this.type}}" class="form-control" id="{{this.name}}"  value="{{this.value}}" name="{{this.name}}" placeholder="{{this.name}}">
                            <label for="{{this.name}}">{{this.name}}</label>
                        </div>


                        {{/each}}
                        <button class="btn btn-success btn-block">
                            Crear
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/if}}